<!DOCTYPE html>
<html>
  <head>
    <title>Login or Register to Poke</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
  </head>
  <body>
    <h1>Welcome!</h1>
    <form class="logregform" action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <h2 class="formnametag">Register</h2><br>
      {% if messages %}
        {% for message in messages %}
          {% if message.extra_tags == "register" %}<p class="error">{{message}}</p>{% endif %}
        {% endfor %}
      {% endif %}
      <label for="name">Name:</label><input type="text" name="name"><br>
      <label for="alias">Alias:</label><input type="text" name="alias"><br>
      <label for="email">Email:</label><input type="text" name="email"><br>
      <label for="password">Password:</label><input type="password" name="password"><br>
      <label for="pwcnfrm">Confirm Password:</label><input type="password" name="pwcnfrm"><br>
      <label for="dateob">Date of Birth:</label><input type="date" name="dateob"><br>
      <input type="submit" value="Register">
    </form>
    <form class="logregform" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <h2 class="formnametag">Login</h2><br>
      {% if messages %}
        {% for message in messages %}
          {% if message.extra_tags == "login" %}<p class="error">{{message}}</p>{% endif %}
        {% endfor %}
      {% endif %}
      <label for="email">Email:</label><input type="text" name="email"><br>
      <label for="password">Password:</label><input type="password" name="password"><br>
      <input type="submit" value="Login">
    </form>
  </body>
</html>
